body{
    background-color: darkslategray;
    margin: 0;
}

.App{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    color: aliceblue;
    background-color: blue;
    align-items: center;   
    height: 1.5em;
    border-radius: 20px;
    width: 200px;
    margin:20px auto;
}

/*
align 
*/
.counter{
display: flex;
background-color: aliceblue;
width: 100px;
height: 100px;
border-radius: 50%;
font-size: 3em;
justify-content: center;
align-items: center;
margin: 50px auto;
}

p{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

button{
    background-color: aqua;
    border: 0;
    padding: 10px;
    margin: 10px;
    color: blue;
    border-radius: 30%;
}